<section class="Accessories" id="accesoriesSection">
  <div class="container">
    <h2 class="_Title">ACCESSORIES</h2>
    <p class="_Subtitle gradient-text text-large">
      Personalize every experience
    </p>

    <div class="_Grid">
      <article class="_Accessory gradient-border">
        <figure class="_Accessory-Image">
          <img
            src="/images/accessories/1.jpg"
            alt="Meta Quest 2 Carrying Case"
          />
        </figure>
        <h3 class="_Accessory-Title">Meta Quest 2 Carrying Case</h3>
        <p class="_Accessory-Description">
          Protect your system–at home or away.
        </p>
        <div class="_Accessory-BuyInfo">
          <p class="_Accessory-Price">$59.99 USD</p>
          <button class="_Accessory-Button AppButton --outlined">
            <span>buy now</span>
          </button>
        </div>
      </article>
      <article class="_Accessory gradient-border">
        <figure class="_Accessory-Image">
          <img
            src="/images/accessories/2.jpg"
            alt="Link Cable
          "
          />
        </figure>
        <h3 class="_Accessory-Title">Link Cable</h3>
        <p class="_Accessory-Description">
          Harness the power of your PC with this premium fiber-optic cable.
        </p>
        <div class="_Accessory-BuyInfo">
          <p class="_Accessory-Price">$79.99 USD</p>
          <button class="_Accessory-Button AppButton --outlined">
            <span>buy now</span>
          </button>
        </div>
      </article>
      <article class="_Accessory gradient-border">
        <figure class="_Accessory-Image">
          <img src="/images/accessories/3.jpg" alt="Meta Quest 2 Active Pack" />
        </figure>
        <h3 class="_Accessory-Title">Meta Quest 2 Active Pack</h3>
        <p class="_Accessory-Description">
          A wipeable facial interface, wrist straps, and knuckle straps.
        </p>
        <div class="_Accessory-BuyInfo">
          <p class="_Accessory-Price">$69.99 USD</p>
          <button class="_Accessory-Button AppButton --outlined">
            <span>buy now</span>
          </button>
        </div>
      </article>
      <article class="_Accessory gradient-border">
        <figure class="_Accessory-Image">
          <img
            src="/images/accessories/4.jpg"
            alt="Meta Quest Gift Cards
          "
          />
        </figure>
        <h3 class="_Accessory-Title">Meta Quest Gift Cards</h3>
        <p class="_Accessory-Description">Redeemable on 350+ games and apps.</p>
        <div class="_Accessory-BuyInfo">
          <p class="_Accessory-Price">$15.50 USD</p>
          <button class="_Accessory-Button AppButton --outlined">
            <span>buy now</span>
          </button>
        </div>
      </article>
    </div>
  </div>
</section>
