<section class="section" id="featuresSection">
  <div class="container">
    <div class="ProductFeatures">
      <div class="HeadingsGroup">
        <h2 class="Title">PRODUCT FEATURES</h2>
        <p class="InfoTitle text-large gradient-text">
          EASY TO SETUP AND SAFE TO USE
        </p>
      </div>
      <div class="InfoGroup laptop-grid hidden">
        <div class="TabsGroup" data-group="tabs">
          <button class="Tab active" data-content-id="1">01 Graphics</button>
          <button class="Tab" data-content-id="2">02 Controls</button>
          <button class="Tab" data-content-id="3">03 Processor</button>
          <button class="Tab" data-content-id="4">
            04 Set up your play area
          </button>
          <button class="Tab" data-content-id="5">05 Gardian activity</button>
          <button class="Tab" data-content-id="6">06 Headset casting</button>
        </div>
        <div class="FeaturesGroup">
          <div class="Slider" data-group="features">
            <article class="ProductFeature" id="feature-1">
              <figure class="Image">
                <img loading="lazy" src="/images/features/1.jpg" alt="Space" />
              </figure>
              <div class="line"></div>
              <div class="Description">
                <h4 class="DescriptionTitle">Graphics</h4>
                <p class="DescriptionText">
                  With 1832 x 1920 pixels per eye, everything from multiplayer
                  games and productivity apps to 360 0 videos look beyond
                  incredible
                </p>
                <div class="DescriptionVideo"></div>
              </div>
            </article>
            <article class="ProductFeature" id="feature-2">
              <figure class="Image">
                <img loading="lazy" src="/images/features/2.jpg" alt="Space" />
              </figure>
              <div class="line"></div>
              <div class="Description">
                <h4 class="DescriptionTitle">Controls</h4>
                <p class="DescriptionText">
                  More than half of US households now have access to Connected
                  TV (CTV). It's no surprise that CTV advertising is growing as
                  well. 1.7 billion CTV ad calls a month in 2017 transformed
                  into 29.9 billion ad requests in 2018. The growth of
                  high-speed internet made CTV a reality. The emergence of 5G
                  technology will only accelerate that growth.
                </p>
                <div class="DescriptionVideo"></div>
              </div>
            </article>
            <article class="ProductFeature" id="feature-3">
              <figure class="Image">
                <img loading="lazy" src="/images/features/3.webp" alt="Space" />
              </figure>
              <div class="line"></div>
              <div class="Description">
                <h4 class="DescriptionTitle">Processor</h4>
                <p class="DescriptionText">
                  Oculus controls are the handheld devices used to interact with
                  the virtual world in Oculus VR games and experiences. They
                  offer precise motion tracking and a variety of buttons,
                  triggers, and joysticks to provide intuitive and immersive
                  control over in-game actions and movements.
                </p>
                <div class="DescriptionVideo"></div>
              </div>
            </article>
            <article class="ProductFeature" id="feature-4">
              <figure class="Image">
                <img loading="lazy" src="/images/features/4.webp" alt="Space" />
              </figure>
              <div class="line"></div>
              <div class="Description">
                <h4 class="DescriptionTitle">Set up your play area</h4>
                <p class="DescriptionText">
                  The Oculus play area refers to the physical space in which a
                  user can move and interact with the virtual environment in
                  their Oculus VR headset. The size of the play area varies
                  depending on the specific Oculus headset and the tracking
                  technology used, but generally ranges from a small seated area
                  to a larger room-scale space.
                </p>
                <div class="DescriptionVideo"></div>
              </div>
            </article>
            <article class="ProductFeature" id="feature-5">
              <figure class="Image">
                <img loading="lazy" src="/images/features/5.webp" alt="Space" />
              </figure>
              <div class="line"></div>
              <div class="Description">
                <h4 class="DescriptionTitle">Gardian activity</h4>
                <p class="DescriptionText">
                  Oculus Guardian is a built-in safety feature that helps users
                  avoid collisions with real-world objects while using their VR
                  headset. It allows users to map out their play area and set up
                  virtual boundaries and obstacles that appear in-game when they
                  approach the physical boundaries of their play area, ensuring
                  a safe and enjoyable VR experience.
                </p>
                <div class="DescriptionVideo"></div>
              </div>
            </article>
            <article class="ProductFeature" id="feature-6">
              <figure class="Image">
                <img loading="lazy" src="/images/features/6.webp" alt="Space" />
              </figure>
              <div class="line"></div>
              <div class="Description">
                <h4 class="DescriptionTitle">Headset casting</h4>
                <p class="DescriptionText">
                  Oculus headset casting is a feature that allows users to share
                  their VR experience with others on a nearby smartphone,
                  tablet, or TV. It provides a real-time view of what the user
                  is seeing and doing in the VR environment, making it possible
                  for others to watch and even participate in the experience.
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>

    <div class="ProductFeaturesMobile laptop-hidden" data-group="mobile-tabs">
      <div class="TabGroup active" data-selector="tab-group">
        <button class="Tab --mobile" data-selector="tab-button">
          01 Graphics
        </button>
        <article class="ProductFeature --mobile">
          <figure class="Image">
            <img loading="lazy" src="/images/features/1.jpg" alt="Space" />
          </figure>
          <div class="line"></div>
          <div class="Description">
            <h4 class="DescriptionTitle">Graphics</h4>
            <p class="DescriptionText">
              With 1832 x 1920 pixels per eye, everything from multiplayer games
              and productivity apps to 360 0 videos look beyond incredible
            </p>
          </div>
        </article>
      </div>
      <div class="TabGroup" data-selector="tab-group">
        <button class="Tab --mobile" data-selector="tab-button">
          02 Controls
        </button>
        <article class="ProductFeature --mobile">
          <figure class="Image">
            <img loading="lazy" src="/images/features/2.jpg" alt="Space" />
          </figure>
          <div class="line"></div>
          <div class="Description">
            <h4 class="DescriptionTitle">Controls</h4>
            <p class="DescriptionText">
              Oculus controls are the handheld devices used to interact with the
              virtual world in Oculus VR games and experiences. They offer
              precise motion tracking and a variety of buttons, triggers, and
              joysticks to provide intuitive and immersive control over in-game
              actions and movements.
            </p>
          </div>
        </article>
      </div>
      <div class="TabGroup" data-selector="tab-group">
        <button class="Tab --mobile" data-selector="tab-button">
          03 Processor
        </button>
        <article class="ProductFeature --mobile">
          <figure class="Image">
            <img loading="lazy" src="/images/features/3.webp" alt="Space" />
          </figure>
          <div class="line"></div>
          <div class="Description">
            <h4 class="DescriptionTitle">Processor</h4>
            <p class="DescriptionText">
              The Oculus processor is a specialized piece of hardware designed
              to power the Oculus virtual reality headset. The Oculus processor
              is optimized for low-latency and high-performance graphics
              processing, allowing for a seamless and immersive VR experience.
            </p>
            <div class="DescriptionVideo"></div>
          </div>
        </article>
      </div>
      <div class="TabGroup" data-selector="tab-group">
        <button class="Tab --mobile" data-selector="tab-button">
          04 Set up your play area
        </button>
        <article class="ProductFeature --mobile">
          <figure class="Image">
            <img loading="lazy" src="/images/features/4.webp" alt="Space" />
          </figure>
          <div class="line"></div>
          <div class="Description">
            <h4 class="DescriptionTitle">Set up your play area</h4>
            <p class="DescriptionText">
              The Oculus play area refers to the physical space in which a user
              can move and interact with the virtual environment in their Oculus
              VR headset. The size of the play area varies depending on the
              specific Oculus headset and the tracking technology used, but
              generally ranges from a small seated area to a larger room-scale
              space.
            </p>
          </div>
        </article>
      </div>
      <div class="TabGroup" data-selector="tab-group">
        <button class="Tab --mobile" data-selector="tab-button">
          05 Gardian activity
        </button>
        <article class="ProductFeature --mobile">
          <figure class="Image">
            <img loading="lazy" src="/images/features/5.webp" alt="Space" />
          </figure>
          <div class="line"></div>
          <div class="Description">
            <h4 class="DescriptionTitle">Gardian activity</h4>
            <p class="DescriptionText">
              Oculus Guardian is a built-in safety feature that helps users
              avoid collisions with real-world objects while using their VR
              headset. It allows users to map out their play area and set up
              virtual boundaries and obstacles that appear in-game when they
              approach the physical boundaries of their play area, ensuring a
              safe and enjoyable VR experience.
            </p>
          </div>
        </article>
      </div>
      <div class="TabGroup" data-selector="tab-group">
        <button class="Tab --mobile" data-selector="tab-button">
          06 Headset casting
        </button>
        <article class="ProductFeature --mobile">
          <figure class="Image">
            <img loading="lazy" src="/images/features/6.webp" alt="Space" />
          </figure>
          <div class="line"></div>
          <div class="Description">
            <h4 class="DescriptionTitle">Headset casting</h4>
            <p class="DescriptionText">
              Oculus headset casting is a feature that allows users to share
              their VR experience with others on a nearby smartphone, tablet, or
              TV. It provides a real-time view of what the user is seeing and
              doing in the VR environment, making it possible for others to
              watch and even participate in the experience.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
