<section id="heroSection">
  <img class="backgroundImage" src="/images/hero.jpg" alt="background image" />
  <div class="container">
    <div class="Offer">
      <h1>Meta Quest 2</h1>
      <p class="Offer__subheading">Get an Elite Strap free</p>
      <p class="Offer__proposition">
        For a limited time only, save $59.99 USD. Offer ends 1/19/23
      </p>
      <div class="Offer__buttonsGroup">
        <button class="Offer__button AppButton --filled">BUY NOW</button>
        <p class="Offer__price gradient-border">399,99 USD</p>
      </div>
      <small class="Offer__small">Meta Quest 2 is for ages 13+</small>
    </div>
  </div>
</section>
