<section class="InBox section" id="inBoxSection">
  <div class="container">
    <h2 class="_Title Title">In the box</h2>
    <div class="_Content">
      <article class="_ItemCard">
        <div class="_ItemCardImage">
          <img src="/images/products/1.jpg" alt="VR Headset" />
        </div>
        <p class="_ItemCardDescription">VR Headset</p>
      </article>
      <article class="_ItemCard">
        <div class="_ItemCardImage">
          <img
            src="/images/products/2.jpg"
            alt="Two Touch Controllers & AA Batteries"
          />
        </div>
        <p class="_ItemCardDescription">Two Touch Controllers & AA Batteries</p>
      </article>
      <article class="_ItemCard">
        <div class="_ItemCardImage">
          <img
            src="/images/products/3.jpg"
            alt="Charging Cable & Power Adapter"
          />
        </div>
        <p class="_ItemCardDescription">Charging Cable & Power Adapter</p>
      </article>
      <article class="_ItemCard">
        <div class="_ItemCardImage">
          <img src="/images/products/4.jpg" alt="Glasses Spacer" />
        </div>
        <p class="_ItemCardDescription">Glasses Spacer</p>
      </article>
      <p class="_CardsTitle gradient-text text-large">What's included</p>
    </div>
  </div>
</section>
