<section class="NewsUpdates section" id="newsUpdatesSection">
  <div class="container">
    <form class="_Form" id="subscribeForm">
      <h3 class="_Title text-large">Get news and updates</h3>
      <div class="_InputGroup">
        <input class="_Input" type="email" placeholder="Email" id="subscribeEmail"/>
        <button class="_SubmitButton AppButton --filled" type="submit" disabled>GO</button>
      </div>
      <div class="_Group">
        <p class="_Text">
          By signing up you agree to receive updates and marketing messages
          (e.g. email, social, etc.) from Meta about Meta's existing and future
          products and services. You may withdraw your consent and unsubscribe
          at any time by clicking the unsubscribe link included in our messages.
          Your subscription is subject to the Terms and Privacy Policy.
        </p>
        <p class="_Mail">oculusshop@gmail.com</p>
      </div>
    </form>
  </div>
</section>
