@use "media";

:root {
  --color-text-primary: #5c5c5e;
  --color-text-secondary: #070707;
  --color-text-hover: #070707;
  --color-bg: #f6f4f5;
  --color-gray: #cacad6;
  --accent-gradient: linear-gradient(
    180deg,
    #bc10d8 0%,
    rgba(80, 0, 250, 0.93) 100%
  );

  --font-primary: "Helvetica";

  --text-default: 1rem;
  --text-heading-1: 5rem;
  --text-heading-2: 1rem;
  --text-medium: 1.25rem;
  --text-large: 2rem;
  --text-sm: 0.8125rem;

  --width-container: 1200px;

  @include media.tablet {
    --text-heading-1: 6rem;
    --text-heading-2: 1rem;
    --text-medium: 1.5rem;
    --text-large: 2.25rem;
    --text-sm: 0.8125rem;
  }
}
