<header class="Header">
  <div class="container">
    <nav class="Header__nav">
      <ul class="Header__menu">
        <li class="Header__menuItem"><a href="#inBoxSection">shop</a></li>
        <li class="Header__menuItem"><a href="#gameSection">games</a></li>
        <li class="Header__menuItem"><a href="#newsUpdatesSection">news</a></li>
      </ul>
      <a class="Header__logo" href="/"
        ><img src="/images/logo.png" alt="Oculus logo" /></a
      ><a class="Header__cart" href="#"
        ><img src="/images/icons/cart_icon.svg" alt="Cart" /><span
          id="cartItemsValue"
          >1</span
        ></a
      >
    </nav>
  </div>
</header>
